*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img {
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
  }
  .slides {
    display: flex;
    /* transition: transform 0.5s ease-in-out; */
  }
  
  .slides img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #5c8df6;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3c6fe0;
  }
  