<div class="card my-3">
  <img [src]="product.image" width="300px" height="300px" [alt]="product.title" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text mb-1">Price: {{ product.price }}</p>
    <p class="card-text mb-1">Quantity: {{ product.quantity }}</p>

    
     <ng-container *ngIf="product.quantity > 1">
      <button class="btn btn-primary w-70">Add to cart</button>
    </ng-container>

    <ng-container *ngIf="product.quantity === 1">
      <p class="text-warning my-2">Only one peace available</p>
      <button class="btn btn-success w-70">Add to cart</button>
    </ng-container>

    <ng-container *ngIf="product.quantity < 1">
      <p class="text-danger fw-semibold my-2">Sold out</p>
    </ng-container>
   
</div>
  </div>